*{
	margin: 0px;
	padding: 0px;
}

body{
	font-size: 18px;
}

.titulos{
	padding: 20px;
	padding-left: 10px;
}

p{
	padding-left: 10px;
}

ul{
	padding-left: 40px;
}

#fadire{
	padding-bottom: 15px;
}